Unity.Burst.CodeGen.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualStudio.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.csproj filter=lfs diff=lfs merge=lfs -text
com.unity.cinemachine.editor.csproj filter=lfs diff=lfs merge=lfs -text
CFXR.WelcomeScreen.csproj filter=lfs diff=lfs merge=lfs -text
ToonyColorsPro.Demo.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
CFXREditor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.UI.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Performance.Profile-Analyzer.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
CFXRRuntime.csproj filter=lfs diff=lfs merge=lfs -text
KinoBloom.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-firstpass.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VSCode.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UserSettings filter=lfs diff=lfs merge=lfs -text
CFXRDemo.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Rider.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Searcher.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipeline.Universal.ShaderLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Shared.Editor.csproj filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
Unity.Burst.csproj filter=lfs diff=lfs merge=lfs -text
Unity.CollabProxy.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.EditorCoroutines.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Animation.Rigging.csproj filter=lfs diff=lfs merge=lfs -text
PathFinding.sln filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Settings.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ShaderGraph.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Animation.Rigging.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.SettingsProvider.Editor.csproj filter=lfs diff=lfs merge=lfs -text
ProjectSettings filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.TestFramework.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ShaderGraph.Utilities.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor.csproj filter=lfs diff=lfs merge=lfs -text
PPv2URPConverters.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.ForUI.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Shaders.csproj filter=lfs diff=lfs merge=lfs -text
Cinemachine.csproj filter=lfs diff=lfs merge=lfs -text
Temp filter=lfs diff=lfs merge=lfs -text
Unity.PlasticSCM.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.ShaderLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.csproj filter=lfs diff=lfs merge=lfs -text
Packages filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.UI.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.Editor.csproj filter=lfs diff=lfs merge=lfs -text
